@import url('https://fonts.googleapis.com/css?family=Caveat+Brush|Roboto:700i');

:root{
  --acc-bounce: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  --acc-sine: cubic-bezier(0.390, 0.575, 0.565, 1.000);
  --base-delay: 255ms;
  --variable-delay: 55ms;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  outline: 1px solid rgba(255,255,255,0);
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}


*:before,
*:after{
 content: '';
 display: block;
 background-size: contain;
 background-repeat: no-repeat;
 position: absolute;
}

html, body {
  width: 100vw;
  height: 100vh;
  font-family: 'Caveat Brush', cursive;
  color: #fff;
  font-size: 60px;
}

body{
  
  align-items: center;
  justify-content: center;
  background: #3568b5;
  overflow: hidden;
}
/* header */

.page-header {
  margin-bottom: 40px;
  display: block;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.main-nav {
  display: flex;
  align-items: center;
  width: 1170px;
  margin-bottom: 50px;
  padding: 20px 55px;

  
}


.site-navigation {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-right: 40px;
  list-style: none;
  max-width: 990px;
}

.site-navigation-item {
  margin-right: 30px;
}

.site-navigation-item:last-child {
  margin-right: 0;
}

.site-navigation-item a {
  font-size: 14px;
  line-height: 18px;
  color: #163152;
  text-transform: uppercase;
  text-decoration: none;
}

.site-navigation-item a:hover {
  color: rgba(22, 49, 82, 0.5);
}

.site-navigation-item a:active {
  color: rgba(22, 49, 82, 0.3);
}


.📺{
  width: 500px;
  height: 600px;
  position: relative;
  transform: scale(.67);
  margin-top: 50px;
  perspective: 500px;
  animation: float-wrapper 5s var(--acc-sine) infinite;
}

@keyframes float-wrapper{
  0%{
    transform: scale(.67);
  }
  50%{
    transform: scale(.67,.68) translate3d(0, -8px, 0);
  }
  100%{
    transform: scale(.67); 
  }
}

.🍌,
.🍇,
.🍦{
  position: absolute;
  left: 0; top: 0;
  width: 100%;
  height: 100%;
  transition: all var(--acc-sine) 255ms;
  cursor: pointer;
}

.🍦{
  transform: scale(.99) translate3d(1%,1%,0);
}

.📺:hover .🍦{
  transform: none;
}

.🍦:before{
  background-image: url('img/Yura.png');
  width: 403px;
  height: 804px;
  left: 55%;
  top: 25px;
  transform: translateX(-50%);
  animation: fadeIn-popsicle-before .5s var(--acc-bounce) 1 forwards;
  animation-delay: var(--base-delay);
  opacity: 0;
}


@keyframes fadeIn-popsicle-before{
  0%{
    opacity: 0;
    transform: translateX(-50%) scale(.89);
  }
  100%{
    opacity: 1;
    transform: translateX(-50%);
  }
}

.🍦:after{
  content: 'Viskovatov';
  transform: rotateZ(-5deg);
  font-size: 120px;
  bottom: -10%;
  right: 20%;
  animation: fadeIn-popsicle-after .5s var(--acc-bounce) 1 forwards;
  animation-delay: calc(var(--base-delay) + var(--variable-delay) * 5);
  opacity: 0;
}

@keyframes fadeIn-popsicle-after{
  0%{
    opacity: 0;
    transform:scale(.96);
  }
  100%{
    opacity: 1;
    transform: rotateZ(-5deg);
  }
}

.🍌{
  transform: scale(1.01) translate3d(-1%, 1%, 0);
}

.📺:hover .🍌{
  transform: none;
}

.🍌:before{
  background-image: url('img/Mihail.png');
  width: 500px;
  height: 700px;
  left: 11%;
  top: -4%;
  animation: fadeIn-banana-before .5s  var(--acc-bounce) 1 forwards;
  animation-delay: calc(var(--base-delay) + var(--variable-delay) * 1);
  opacity: 0;
}

@keyframes fadeIn-banana-before{
  0%{
    opacity: 0;
    transform: scale(.96) translateY(-13%);
  }
  100%{
    opacity: 1;
    transform: none;
  }
}

.🍌:after{
  content: 'Misha';
  top: 250px;
  font-size: 75px;
  transform: rotateZ(-15deg) translateZ(5px);
  left: 0%;
  animation: fadeIn-banana-after .5s  var(--acc-bounce) 1 forwards;
  animation-delay: calc(var(--base-delay) + var(--variable-delay) * 2);
  opacity: 0;
}

@keyframes fadeIn-banana-after{
  0%{
    opacity: 0;
    transform: scale(.96) translateY(-13%) translateZ(21px);
  }
  100%{
    opacity: 1;
    transform: rotateZ(-5deg) translateZ(5px);
  }
}

.🍇{
  /* Grapes... yep - there's no blueberry emoji, OUTRAGEOUS */
}

.📺:hover .🍇{
  transform: scale(1.01) translate3d(-1%, 1%, 0);
}

.🍇:before{
  background-image: url('img/heart.png');
  width: 100px;
  height: 110px;
  right: 55%;
  top: 75%;
  animation: fadeIn-berry-before .5s var(--acc-bounce) 1 forwards; 
  animation-delay: calc(var(--base-delay) + var(--variable-delay) * 4);
  opacity: 0;
}

@keyframes fadeIn-berry-before{
  0%{
    opacity: 0;
    transform: scale(.96) translateY(8%);
  }
  100%{
    opacity: 1;
    transform: none;
  }
}

.🍇:after{
  content: 'Jura';
  font-size: 60px;
  right: 0;
  transform: rotateZ(13deg);
  top: 50%;
  animation: fadeIn-berry-after .5s var(--acc-bounce) 1 forwards; 
  animation-delay: calc(var(--base-delay) + var(--variable-delay) * 5);
  opacity: 0;
}

@keyframes fadeIn-berry-after{
  0%{
    opacity: 0;
    transform: scale(.96) translateY(13%);
  }
  100%{
    opacity: 1;
    transform: rotateZ(13deg);
  }
}

.🆗{
  outline: 0;
  border: 0;
  padding: 0;
  background: none;
  font: inherit;
  color: inherit;
  position: absolute;
  right: 0;
  bottom: -21px;
  transition: all 144ms var(--acc-sine);
  transform-origin: top left;
  perspective: 600px;
  transform: scale(.96) translate3d(3%,3%,0) rotateZ(-5deg);
}

.📺:hover .🆗{
  transform: rotateZ(-3deg);
}

.🆗:after{
  content: 'family!';
  display: block;
  position: relative;
  padding: 13px 34px;
  font-family: 'Roboto';
  font-weight: 700;
  font-style: italic;
  color: #0d2e60;
  background-image: linear-gradient(120deg, #e8cd09 0%, #ffe000 100%);
  font-size: 34px;
  top: 80px;
  border-radius: 6.5px 22.5px 22.5px 22.5px;
  animation: fadeIn-button .5s var(--acc-bounce) 1 forwards;
  opacity: 0;
  animation-delay: calc(var(--base-delay) + var(--variable-delay) * 6);
  cursor: pointer;
  transform-origin: top left;
  background-size: 200% 100%;
}

@keyframes fadeIn-button{
  0%{
    opacity: 0;
    transform: translate3d(-13%,-13%,0) scaleX(.55) scaleY(.96);
  }
  100%{
    opacity: 1;
    transform: translate3d(0%,0%,0) ;
  }
}

.🆗:hover:after {
  background-position: 100% 0;
}

@media only screen and (max-height: 600px){
  .📺{
    transform: scale(.6);
  }
  
  @keyframes float-wrapper{
    0%{
      transform: scale(.6);
    }
    50%{
      transform: scale(.6,.61) translate3d(0, -8px, 0);
    }
    100%{
      transform: scale(.6); 
    }
  }
}
/* второй вариант */

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  padding-bottom: 70px;
  position: relative;
}

.intro {
  position: relative;
  min-height: 320px;
  height: 100%;
  width: 100%;
  background: transparent url(img/avv.png) top center no-repeat;
  background-size: 100%;
  overflow: hidden;
  transition: all .72s ease-in-out;
}

.intro:after {
  content: '';
  display: block;
  position: absolute;
  /* width: 100%; */
  height: 500px;
  right: -100%;
  left: 0;
  transform: skew(100deg);
  
  box-shadow: inset 5px 0px 5px 0px rgba(204, 204, 204, 0.72);
}

.container:after {
  content: '';
  max-width: 300px;
  height: 239px;
  width: 100%;
  margin: 150px auto 0;
  display: block;
  position: absolute;
  left: 121px;
  top:52px;
  right: 0;
  box-shadow: 0px 5px 5px 0px rgba(204, 204, 204, 0.72);
  z-index: -1;
  transition: all .52s ease-in-out;
}

.meta {
  max-width: 300px;
  width: 100%;
  height: 290px;
  margin: 0% auto 0;
  position: absolute;
  left: 0;
  bottom: 0;
  right: -140px;
  z-index: 10;
  padding-top: 110px;
  overflow: hidden;
  top:150px;
  transition: all .52s ease-in-out;
  
}

.meta__inner {
  padding: .25rem 1rem;
  
  position: relative;  
 
  z-index: 15;
  background: #fff;
  border: 1px solid #ccc;
  border-top: none;
}

.meta:after {
  content: '';
  display: block;
  position: absolute;
  left:0;
  right: 0;
  top: 80px;
  max-width: 300px;
  height: 300px;
  background: #fff;
  border: 1px solid #ccc;
  transform: rotate(90deg) skew(10deg);
  z-index: 4;
}

h3 {
    font-size: 14px;
    margin-bottom: 15px;
    position: relative;
    font-family: sans-serif;
    font-weight: 400;
    border-left: 4px solid #e91e63;
    padding-left: .72rem;  
    color: #212020;
}

p {
  font-family: serif;
  font-size: 10px;
  font-weight: inherit;
  color: #555;
  text-align: justify;
}

p a {
  color: #e91e63;
  text-decoration: none;
  opacity: .72;
  transition: all .27s ease-in-out;
}

p a:hover {
  opacity: 1;
  text-decoration: underline;
}
.container:hover .meta{
  transform: translateY(5px);
}

.container:hover .intro {
  transform: translateY(-5px);
}

.container:hover:after {
  transform: translateY(5px);
}

ul.prlx {
 
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  align-items: center;
  justify-content: space-around;
}